{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "settings": {
    "react": {
      "version": "16.2.0"
    }
  }
}